/* Import custom font */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* Styling for the header element */
header {
    position: fixed;
    top: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    background-color: transparent;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

/* Remove default list styling for li elements */
li {
    list-style: none;
}

/* Remove underline from anchor elements */
a {
    text-decoration: none;
}

/* Styling for the menu */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for each menu item */
.menu-item {
    margin-right: 1rem;
}

/* Styling for anchor elements within menu items */
.menu-item > a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
}

/* Styling for the ::after pseudo-element */
.menu-item > a::after {
    content: '';
    width: 0;
    background-color: #77a805;
    display: block;
    height: 0.13rem;
    transition: width .3s ease;
}


/* Styling for the ::after pseudo-element when hovered */
.menu-item > a:hover::after {
    width: 100%;
}

/* Logo img inside header */
header > img {
    height: 2rem;
    width: auto;
    padding: 1rem 0 0 1rem;
}

/* Style the 'home' section with background properties. */
#home {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 53% center;
}

/* Styles for the 'hero-text' element */
#hero-text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: whitesmoke;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

/* Styles for the <h1> element */
h1 {
    font-size: 3rem;
}

/* Styles for the <h2> element */
h2 {
    font-size: 2rem;
}

/* Order Now button styles */
.btn-wrapper {
    margin-top: 5rem;
}

.btn {
    position: relative;
    display: inline-block;
    letter-spacing: 1.2px;
    padding: 0.625rem 1.438rem;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.btn--primary {
    color: whitesmoke;
    font-size: 1.6rem;
    font-family: Anton, sans-serif;
}

.btn--border {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    box-sizing: border-box;
}

.btn--animated {
    transition-property: color;
    transition-duration: 0.5s;
    
    &.btn--border.btn--primary {
        border: 1px solid whitesmoke;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #77a805;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition-property: transform;
        transition-duration: 0.5s;
        transition-timing-function: ease-out;
        z-index: -1;
    }
        
    &:hover {
        color: whitesmoke;

        &:before {
            transform: scaleX(1);
            transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
        }
    }
}

/* Media Queries */
@media (max-width: 1200px) {
    html {
        font-size: 80%;
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 70%;
    }
}

@media (max-width: 800px) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 500px) {
    #hero-text {
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
    }
}