/* Import custom font */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* Style the 'home' section with background properties. */
#home {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 57% center;
}

/* Styles for the 'hero-text' element */
#hero-text {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: whitesmoke;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

/* Styles for the <h1> element */
h1 {
    font-size: 3rem;
}

/* Styles for the <h2> element */
h2 {
    font-size: 2rem;
    display: flex;
}